@media screen and (min-width: 1920px) {
  .rate__line {
    width: 43rem;
  }
  .menu__item a {
    font-size: 20px;
  }
}
@media screen and (max-width: 1440px) {
  .subtitle {
    @include adaptiv-value("font-size",38, 23, 0);
    &__text{
      @include adaptiv-value("font-size", 30, 15, 0);
    }
  }
  
  .director{
    &__wrapper{
      @include adaptiv-value("gap", 22, 5, 0);
    }
    &__descr{
      @include adaptiv-value("font-size", 18, 15, 0);
    }
    &__title{
      @include adaptiv-value("font-size", 25, 20, 0);
      margin-top: 10px;
      margin-bottom: 10px;
      
    }
    &__item{
      img{
        @include adaptiv-value("width", 70, 60, 0);
      }
    }
  }
  .problems{
    &__item{
      svg{
        @include adaptiv-value("width", 60, 40, 0);
      }
    }
  }
.solution__item{
  &-center{
    text-align: right;
    h2{
      text-align: right
    }
  }
  &-descr{
    @include adaptiv-value("font-size", 28, 15, 0);
    
  }
  &-financial{
    img{
      @include adaptiv-value("width", 600, 100, 0);
    }
  }
  &-accounting{
    img{
      @include adaptiv-value("width", 600, 100, 0);
    }
  }

  &-business{
    img{
      @include adaptiv-value("width", 600, 100, 0);
    }
  }
}
  .slider{
    &__subtitle{
      @include adaptiv-value("font-size", 17, 13, 0);
    }
    &__text{@include adaptiv-value("font-size", 17, 13, 0);
      
    }
  }
  .modal{
    &__close{
      font-size: 40px;
      right: 5px;
      top: -5px;
    }
    &__dialog{
      max-width: 1000px;
    }
  }
  .main{ padding-top:30px;
     padding-bottom: 20px;
  }
  .rate{
    &__line{
      @include adaptiv-value("font-size", 20, 12, 0);
    }
    &__title{
      @include adaptiv-value("font-size", 28, 20, 0);
      margin-bottom: 0
    }
    &__list{
      @include adaptiv-value("gap", 15, 20, 0);
    }
    &__item{
      @include adaptiv-value("gap", 25, 20, 0);
    }
  }
  .slider{
    table{
      .index-big{
        @include adaptiv-value("font-size", 28, 12, 0);
      }
    }
    &__item1{
      @include adaptiv-value("padding", 20, 10, 0);
      row-gap: 1rem;
      @include adaptiv-value("column-gap", 20, 10, 0);
    }
    &__title{
      @include adaptiv-value("font-size", 30, 15, 0);
    }
  }
  .main__wrapper{
    .advantages__item:nth-child(1){
      height: 135px;
    }
  }
  .main__img {
    width: calc(140px + 370 * ((100vw - 320px) / 1600));
    top: 3rem;
}
.section{
  @include adaptiv-value("padding-top", 30, 20, 0);
  @include adaptiv-value("padding-bottom", 30, 20, 0);
}

  // .header__logo {
  //   flex: 1 0 45rem;
  // }
}
@media screen and (min-width: 1200px) {
  /*.director__item {
    img {
      @include adaptiv-value("width", 200, 0, 0);
    }
  }*/

}
@media screen and (max-width: 1200px) {
  .director{
    &__item{
      flex: 0 1 41%;
    }
  }
  .main__img{
    top: 0;
  }
.slider__item1 {
  grid-template-rows: [row1-s] minmax(100px, 110px) [row2-s] minmax(150px, auto) [row3-s] minmax(150px, 1fr) [row4-s] minmax(150px, auto);
}
.slider__title {
  grid-column: col1-s/col3-s;
  max-height: 100px;
}
.slider__subtitle {
  grid-column: col1-s/col3-s;
}
.slider__text {
  grid-row: row3-s/row4-s;
  grid-column: col1-s/col3-s;
}
.slider__tible {
  grid-row: row4-s;

}
.problems{
  &__item{
    flex: 0 0 26%;
    min-height: auto;
  }
}

  .step__wrapper {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .step__item {
    flex: 0 1 44%;
  }
}


@media screen and (max-width: 830px) {
  
  .main__content{
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
    .main__blocktext{
      text-align: center;
    }
  }
  .main__wrapper .advantages__item{
    height: 90px;
    width: 42%;
  }
.main__wrapper .advantages__item:nth-child(1){
  width: 100%;
  height: 130px;
}
.main__wrapper .advantages{
  flex-wrap: wrap
}
}
@media screen and (max-width: 992px) {
 
  .header__logo{
    @include adaptiv-value("width", 500, 130, 0);
  }
  .slider__item1{
    row-gap: 1rem;
  }
  .footer-top{
    flex-direction: column;
    align-items: flex-start;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
}
  .header__menu {
    display: none;
  }

  .partners__items {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .partners__item {
    box-sizing: border-box;
    @include adaptiv-value("width", 237, 137, 0);
  }

  .step__item {
    flex: 0 1 40%;
    @include adaptiv-value("padding-left", 50, 10, 0);
    @include adaptiv-value("padding-right", 50, 10, 0);
  }
  .rate__wrapper {
    justify-content: space-around;
  }
  .rate__item {
    @include adaptiv-value("width", 430, 200, 0);
    flex: 0 0 45%;
  }
  .rate__line {
    @include adaptiv-value("font-size", 24, 15, 0);
    //@include adaptiv-value("width", 603, 80, 0);
  }
  .rate__foter-img {
    bottom: 111rem;
    z-index: -1;
  }
  .solution__item-business img {
    top: 0;
  }
}
@media screen and (max-width: 768px) {

  .form {
    button{
   @include adaptiv-value("width", 703, 310, 0);
    }
  input {
    margin: 10px auto;
    @include adaptiv-value("width", 703, 310, 0);
  }
}
  .form-body {
    flex-direction: column;
    gap: 2rem;
  }
  .solution__item-accounting img {
    top: 0;
  }

.problems{
  &__item{
    flex: 0 1 40%;
  }
}

.footer__menu{
  flex-direction: column;
  align-items: flex-start;
}
  .footer-top{
    gap: 2rem;
  }
  .footer-bottom{
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  .present__block {
    gap: 0;
  }
  .present__img {
    @include adaptiv-value("width", 651, 130, 0);
  }
}


@media screen and (max-width: 655px) {
.director__item {
  //@include adaptiv-value("height",459, 250, 0);
  flex: 0 1 90%;
  
}
}







@media screen and (max-width: 576px) {
  .modal{
    .btn{
      width: 100%;
    }
     input{
    width: 100%;
  }}
  .modal-thank .btn {
    max-width: 67%;
  }
  .contact-form {
    text-align: center;
  }
 
  
  .form button {
    @include adaptiv-value("width", 703, 310, 0);
  }
  swiper-slide{
    width: 100%;
  }
  .director__wrapper {
    justify-content: center
  }
  
  .director__descr {
    @include adaptiv-value("font-size", 48, 13, 0);
   
  }
  .subtitle-font-size-smoll {
    @include adaptiv-value("font-size", 48, 18, 0);
  }

  .solution__item{
  &-financial {
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    img{
      margin: auto;
    }
    h2{
      text-align: center;
    }
  }
  &-text{
    text-align: center;
  }
  }


  .solution__item-accounting {
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 20px;
    img{
      margin: auto;
    }
 .solution__item-text{
  order: 1;
  h2{
    text-align: center;
  }
 }
  }
  .solution__item-business {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 20px;
    img{
      margin: auto;
    }
    h2{
      text-align: center;
    }
  }
  .step__item {
    flex: 0 1 90%;
    height: auto;
  }
  .rate__item {
    flex: 1 1 100%;
  }
  /*.rate__line {
    @include adaptiv-value("width", 1200, 200, 0);
  }*/
  .rate__foter-img {
    display: none;
  }
  .rate__title {
    @include adaptiv-value("font-size", 130, 20, 0);
  }
  .rate__item a {
    @include adaptiv-value("width", 446, 200, 0);
  }
  .present__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  } 
  
  .btn-green {
    margin: 0 auto;
  }
}
// @media screen and (max-width: 390px) {
//     .footer {
//         &__img {
//             img {
//                 width: 100%;
//             }
//         }
//     }
//     .feed__form {
//         grid-template: 50px 1fr /repeat(2,minmax(150px,320px));
//     }
// }



@media screen and (max-width: 470px) {
  .main__wrapper .advantages__item:nth-child(1){
    @include adaptiv-value("border-radius", 48, 20, 0);
  }
  .main__wrapper .advantages__item {
    @include adaptiv-value("border-radius", 48, 20, 0);
   justify-content: center;
    width: 100%;
  }
.problems{
  &__item{
    flex: 0 1 90%;
    svg{
      height: auto;
    }
  }
}
.slider__item1{
  padding: 0;
}
.slider__text {
  border: none;
}
.slider__subtitle{
  border: none;
}
.slider td, .slider th {
  padding: 10px 5px;
}
}